<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-12510-1659452501/blob/main/Copy_of_Copy_of_Copy_of_DA_Assignment_3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [15]:
base = 7
exponent = 4

result = 1

while exponent != 0:
    result *= base
    exponent-=1

print("Answer = " + str(result))

Answer = 2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [16]:
s = "Hi there Sam!"

In [17]:
s="Hi there Sam!"
s=s.split()
print(s);

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [18]:
planet = "Earth"
diameter = 12742
print( 'The diameter of {} is {} kilometers.' .format(planet,diameter));

The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [13]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [12]:
 lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2];
print(a)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [14]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2];
print(a)

['hello']

** What is the main difference between a tuple and a list? **

In [1]:
Following are the important differences between List and Tuple. List is mutable. Tuple is immutable. List iteration is slower and is time consuming. Tuple iteration is faster. List is useful for insertion and deletion operations. Tuple is useful for readonly operations like accessing elements.

SyntaxError: ignored

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [6]:
# Python3 code to demonstrate working of
# Extract domain name from Email address
# Using index() + slicing
 
# initializing strings
test_str = 'manjeet@geeksforgeeks.com'
 
# printing original string
print("The original string is : " + str(test_str))
 
# slicing domain name using slicing
res = test_str[test_str.index('@') + 1 : ]
 
# printing result
print("The extracted domain name : " + str(res))

The original string is : manjeet@geeksforgeeks.com
The extracted domain name : geeksforgeeks.com

0

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [7]:
def dcount(x):
    count=0
    if x.lower().split()=='dog':
        count=count+1
    return count
dcount('This dog runs faster than the other dog dude!')

0

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [10]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

st = "Is there a dog here?"
findDog(st)

True

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [11]:
public int caughtSpeeding(int speed, boolean isBirthday)
 {
02
  if (!(isBirthday)) {
03
    if (speed <= 60)
04
      return 0;
05
    if (speed > 60 && speed <= 80)
06
      return 1;
07
    else
08
      return 2;
09
  } else if (speed <=65)
10
      return 0;
11
    else if (speed > 65 && speed <= 85)
12
      return 1;
13
    else
14
      return 2;
15
}

SyntaxError: ignored

'Big Ticket'

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.